*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('./images/fone.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    color: #fff;
}
.author{
    color: lightslategray;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: underline;
}
label{
    color: #b9bbbe;
    padding-left: 0px !important;
    margin-bottom: 5px;
    font-weight: 600;
}
.btn-primary{
    background-color: #5865f2;
    font-weight: 600;
}
.time{
    color: lightslategray;
    font-size: 9px;
}
.msg-box{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
    width:fit-content;
    padding: 2%;
    margin-top: 25px;
    background-color: #fff;
}
.msg-text{
    position: relative;
    white-space:break-spaces;
    font-size: 0.8rem;
}
p{
    margin-bottom: 5px;
}

#all_mess{
    height: 75vh;
    overflow-y: scroll;
    padding: 1% 3%;
    box-shadow: inset 0 0 15px white;
    background-color: rgba(255,255,255,0.8);
}
#all_mess::-webkit-scrollbar{
    width: 0;
}
.return{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.nf-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.nf-page>h1{
    color: lightslategray;
}
header{
    height: 5vh;
}
.wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper-form{
    padding: 2%;
    background-color: #36393f;
    width: 25vw;
    box-shadow: 0 0 15px rgba(47, 79, 79, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-form>form{
    position: relative;
    width: 60%;
}
.row{
    margin-top: 15px;
    text-align: start;
}
.row>input{
    background-color: #202225;
    height: 40px;
    border: none;
}
.change{
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    position: relative;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: #63819c;
}
#reg-form{
    display: none;
}
.not-my{
    background-color: rgb(144, 220, 255);
    box-shadow: 0 0 15px rgb(144, 183, 255);
}
#msg-container{
    display: flex;
    flex-direction: column;
}
.flex-main{
    display: flex;
    flex-direction: column;
}
#messForm{
    height: 10vh;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#message{
    margin-right: 5px;
}
#message::-webkit-scrollbar{
    width: 0;
}
.title{
    height: 5vh;
}
.hello{
    margin-top: 25px;
}
.extra{
    color: #b9bbbe;
    margin-right: 10px;
}